body {
	margin: 0px;
}

.TopBar {
	background-color: #bfabd6;
	margin: 0px;
	position: sticky;
	top: 0;
	
	width: 100%;
}

.NavBar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #a78dc4;
	
}

.NavBar ul li {
	float: left;
	text-decoration: none;
	color: white;
	font-size: clamp(14px, 2.5vw, 20px);
}

.NavBar ul li:hover {
	background-color: #8f6fb3;
}

.NavBar ul li a{
	display: block;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
	color: white;
}

.NavBar ul li a.active {
	background-color: #695185;
}

#LogoName{
	text-align: center;
	color: white;
	font-size: clamp(40px, 5vw, 50px);
	font-family: "Times New Roman", Times, serif;
	text-shadow: 2px 2px black;
}

.Heads{
	background-color: #695185;
	padding: 1vw;
	margin: 5px;
	border-radius: 5px;
	text-align: center;
}
.ListLink{
	color: white;
	font-size: 3vw;
}

.HomeLeftBox {
	background-color: #a78dc4; 
	width: 45%; 
	margin: 1vw;
	color: white;
	float: left;
	padding-left: 1.5vw;
	padding-right: 1vw;
	border-radius: 5px;
}
.HomeLeftBox ul li a{
	font-size: clamp(22px, 3vw, 25px);
}
.HomeRightBox {
	background-color: #a78dc4; 
	width: 45%; 
	margin: 1vw;
	color: white;
	float: right;
	padding-left: 1.5vw;
	padding-right: 1vw;
	border-radius: 5px;
}


.Foot{
	margin: 0;
	padding: 10px;
	position: fixed;
	text-align: center;
	bottom: 0;
	background-color: rgba(227, 225, 230, 0.8);
	border-style: solid none none none;
	border-width: 2px;
	width: 100%;
	font-size: 14px;
	
}

.Topic{
	background-color: #a78dc4; 
	width: 95.5%; 
	margin: 1vw;
	color: white;
	float: left;
	padding-left: 1.5vw;
	padding-right: 1vw;
	border-radius: 5px;
	text-align: center;
	padding-bottom: 10px;
}
.Base{
	background-color: white; 
	width: 100%; 
	float: left;
}
.DownloadLink{
	color: white;
	font-style: italic;
}